nav.navbar.fixed-top.navbar-expand-lg.navbar-light(style="background-color: #fae1dd;")
  .container-fluid
    a.navbar-brand(href="/") Navbar
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon

    .collapse.navbar-collapse(id="navbarNav")
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="#") Features
        li.nav-item
          a.nav-link(href="#") Tests
        