header
  nav.navbar.static-top.navbar-expand-lg.navbar-light(style="background-color: #ffffff; margin-top: 10px;")
    .container-lg
      a.navbar-brand(href="/") myfaketrip
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      form.form-inline
        input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
        button.btn.btn-outline-primary(type="submit") Search
        
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if (!currentUser)
            li.nav-item
              a.nav-link(href="#") 파트너 등록하기
            li.nav-item
              a.nav-link(href="/users/sign_in") 로그인
            li.nav-item 
              a.btn.btn-outline-primary(href='/users/sign_up') 회원가입
          else 
            li.nav-item
              a.nav-link(href="#") 위시리스트
            li.nav-item
              a.nav-link(href="#") 내 여행
            li.nav-item 
              a.nav-link(href="#") 메세지
            li.nav-item 
              a.nav-link(href="#") 알림
            li.nav-item 
              .btn-group
                button.btn.btn-info.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 프로필
                .dropdown-menu
                  a.dropdown-item(href="#") Action
                  a.dropdown-item(href="#") Another action
                  a.dropdown-item(href="#") Something else here
                  .dropdown-divider
                  if (!currentPartner)
                    a.dropdown-item(href="/becomepartner") 파트너 등록하기
                  else 
                    a.dropdown-item(href="/partners") 파트너 대시보드
                  a.dropdown-item(href="/users/sign_out") 로그아웃
  
  #navbar-nav.container-lg
    nav.nav
      li.nav-item
        a.nav-link(href="/" id="nav-link") 홈
      li.nav-item
        a.nav-link(href="#" id="nav-link") 항공권
      li.nav-item 
        a.nav-link(href="#" id="nav-link") 숙소
      li.nav-item
        a.nav-link(href="#" id="nav-link") 렌터카 · 교통
      li.nav-item 
        a.nav-link(href="#" id="nav-link") 투어 · 티켓


        