extends ../layout

block content
  .container 
    a(href="/partners") HOME 
    a(href="/partners/products") / 상품 관리 
    span / 가이드 투어 등록

    #partnerMain.container 
      div.header
        h5 가이드 투어 등록하기
      div
        form(id='form' action='/partners/products/new_course', method='POST') 
          p 만나는 시간 *
          div
            .custom-control.custom-radio.my-4
              input(type="radio" id="categoryRadio1" value="guideTour" name="categoryRadio" class="custom-control-input" required)
              label(class="custom-control-label" for="categoryRadio1")
              .form-row
                .col-5
                  select(class='custom-select' id="selectHour" name='hour' required)
                    option(selected value='13') 오후 1
                    option(value='14') 오후 2
                    option(value='15') 오후 3
                .col-5
                  select.form-control(id="selectMinute" name='min' required)
                    option(selected value='00') 00
                    option(selected value='15') 15
                    option(selected value='30') 30
                    option(selected value='45') 45
            .custom-control.custom-radio.my-4
              input(type="radio" id="categoryRadio2" value="activity" name="categoryRadio" class="custom-control-input")
              label(class="custom-control-label" for="categoryRadio2") 예약 확정 후 조율
              textarea(class="form-control" id="registerTimeInput" name='registerTime' rows="5" required)
          p
            small * 계절별로 만나는 시간이 다르거나 만나는 시간에 대한 추가 정보가 있을 경우 구체적인 시간을 안내해주세요.
          p
            small * 아무 내용도 작성하지 않을 시 '예약 확정 후 만나는 시간이 조율됩니다.'라고 여행자에게 보여집니다.
          hr.my-4
          div
            p(id='where') 만나는 장소 *
            label(for="placeInput") 만나는 장소
            input(type="text" class="form-control" id="placeInput" 
              placeholder="디지털미디어시티역 7번 출구" name="place" required)
            p.mt-4
              small - 만남을 위한 구체적인 장소를 알려주세요.
            p
              small - 낯선 곳에서의 여행자의 불안감을 해소해줍니다.
          hr.my-4
          .form-row
            p 총 소요시간 *
            .col-5 
              input(type="text" class="form-control" id="courseTimeInput" 
                placeholder="5" name="courseTime" required)
            .col-5 
              select.form-control(id="selectTime" name='time' required)
                option(selected, value='hour') 시간
                option(value='minute') 분
          p.mt-4
            small - 최소 몇 시간 전까지 예약을 받길 원하시나요?
          p
            small - 가장 기본적인 시간은 36시간 입니다.
          hr.my-4
          .form-row
            .col-10
              a.btn.btn-outline-secondary(href='/partners/products') 이전 단계로
            .col-2
              button(type="submit" class="btn btn-outline-primary") 저장하기


  
  script.
    function setCity() {
      var val = $('#selectContry').val()
      if(val =='KR'){
        $('#selectCity').empty();
        $('#selectCity').append(`<option value='서울'>서울</option>`);
        $('#selectCity').append(`<option value='제주도'>제주도</option>`);
      }
      else{
        $('#selectCity').empty();
        $('#selectCity').append(`<option value='뉴욕'>뉴욕</option>`);
        $('#selectCity').append(`<option value='샌프란시스코'>샌프란시스코</option>`);
      }
    }
