extends ../layout

block content
  .container 
    a(href="/partners") HOME
    span / 상품 관리
    #partnerMain.container 
      .container
        h5 등록된 상품 
          span.badge.badge-success #{count}
      .float-right
        a.btn.btn-outline-info(href='/partners/products/new')
          i.fas.fa-plus
          span  가이드 투어 등록
      .container
        table.table
          thead
            tr
              th(scope="col") 상태
              th(scope="col") 지역
              th(scope="col") 판매 개시일
              th(scope="col") 여행 제목
              th(scope="col") 총 판매 수
              th(scope="col") #
          if count <= 0
            tbody
            tr
              th(scope="row")
                sapn.badge.badge-danger 등록 상품 없음
              td 
              td 
              td 
              td 
              td 
          else
            each product in products
              tbody
                tr
                  th(scope="row")
                    sapn.badge.badge-warning 작성중
                  td #{product.city}
                  td #{product.createdAt}
                  td #{product.title}
                  td #
                  td #