extends ../layout

block content
  .container 
    a(href="/partners") HOME 
    a(href="/partners/products") / 상품 관리 
    span / 가이드 투어 등록

    #partnerMain.container 
      div.header
        h5 가이드 투어 등록하기
      div