extends ../layout

block content
  .container 
    a(href="/partners") HOME 
    a(href="/partners/products") / 상품 관리 
    span / 가이드 투어 등록

    #partnerMain.container 
      div.header
        h5 가이드 투어 등록하기
      div
        form(id='form' action='/partners/products/new_basic', method='POST') 
          .form-row
            p 나라/도시 *
            .col-5
              select(class='custom-select' id="selectContry" onchange='setCity()' name='contry' required)
                option(selected disabled value='') 나라
                option(value='KR') 대한민국
                option(value='US') 미국
            .col-5
              select.form-control(id="selectCity" name='city' required)
                option(selected disabled value='') 도시
          hr.my-4
          div
            p(id='category') 카테고리 *
            .jumbotron 
              p
                small * 아래의 카테고리 중 1개만 선택이 가능합니다.
              p
                small * 상품을 가장 잘 표현하는 카테고리를 선택해주세요.
              p
                small * 상품의 상격과 맞지 않는 카테고리는 수정될 수 있습니다.
            .custom-control.custom-radio.my-4
              input(type="radio" id="categoryRadio1" value="guideTour" name="categoryRadio" class="custom-control-input" required)
              label(class="custom-control-label" for="categoryRadio1") 가이드 투어
            .custom-control.custom-radio.my-4
              input(type="radio" id="categoryRadio2" value="activity" name="categoryRadio" class="custom-control-input")
              label(class="custom-control-label" for="categoryRadio2") 액티비티
            .custom-control.custom-radio.my-4
              input(type="radio" id="categoryRadio3" value="snapshot" name="categoryRadio" class="custom-control-input")
              label(class="custom-control-label" for="categoryRadio3") 스냅촬영
            .custom-control.custom-radio.my-4
              input(type="radio" id="categoryRadio4" value="restaurant" name="categoryRadio" class="custom-control-input")
              label(class="custom-control-label" for="categoryRadio4") 레스토랑
            p
              small * 가이드가 동행하며 현지 안내를 하는 비중이 높을 경우 가이드 투어를 선택해주세요.
          hr.my-4
          div 
            p 언어 *
            .form-row
              .custom-control.custom-checkbox-inline
                input(class="custom-checkbox-input" type="checkbox" id="inlineCheckbox1" value="Korean" name='languages')
                label(class="custom-checkbox-label" for="inlineCheckbox1") 한국어
              .custom-control.custom-checkbox-inline
                input(class="custom-checkbox-input" type="checkbox" id="inlineCheckbox2" value="English" name='languages')
                label(class="custom-checkbox-label" for="inlineCheckbox2") 영어
              .custom-control.custom-checkbox-inline
                input(class="custom-checkbox-input" type="checkbox" id="inlineCheckbox3" value="French" disabled)
                label(class="custom-checkbox-label" for="inlineCheckbox3") 프랑스어
            p.mt-4
              small * 투어 진행 시 주로 사용되는 언어를 선택해주세요.
          hr.my-4
          div 
            p 여행 제목 *
            input(type="text" class="form-control" id="titleInput" 
              placeholder="[투어] 상암동(DMC) 방송국 투어 :: 대한민국/서울" name="title" required)
            p.mt-4
              small - 여행 주제를 정확하고 간결하게 표현해주세요.
            p
              small - 맞춤법이 맞지 않거나 이모티콘 혹은 특수문자를 사용하실 경우 상품 검수 절차로 인해 판매가 늦어질 수 있습니다.
            p
              small - 지역명이 포함된 제목은 상품 노출에 더 효과적입니다. (도쿄, 산책하는 여행 / 샌프란시스코! 요세미티 당일치기 등)

          div.mt-5
            p 한 줄 요약 *
            input(type="text" class="form-control" id="summaryInput" name = 'summary'
              placeholder="상암에서 국내 유명 방송국을 가이드의 설명과 함께 구경해봅시다!" required)
            p.mt-4
              small - 제목과 연결되는 매력 포인트를 작성해주세요.
            p
              small - 페이지에서 강조되어 나타납니다.

          div.mt-5
            p 여행 소개 *
            textarea(class="form-control" id="descriptionInput" name='description' rows="10" required)
            p.mt-4
              small - 맞춤법이 맞지 않거나 이모티콘 혹은 특수문자를 사용하실 경우 상품 검수 절차로 인해 판매가 늦어질 수 있습니다.
          hr.my-4
          .form-row
            .col-6
              p 여행 규모 *
              select.form-control(id="selectScale" name='scale' required)
                option(selected, value='private') 단독 프라이빗 투어
                option(value="group") 그룹 투어
            .col-6
              p 이동 수단 *
              select.form-control(id="selectVehicle" name='vehicle' required)
                option(selected, value='walk') 도보 이동
                option(value='car') 차량 이동
                option(value='etc') 그 외
          div.mt-5
            p 여행 사진 *
            input(type="file" class="form-control-file" id="imageFile" name='image' value='' required)
          hr.my-4
          .form-row
            p 예약 가능 시간 설정 *
            .col-8 
              select.form-control(id="selectTime" name='time' required)
                option(selected, value='36') 36
                option(value=24) 24
            p.mt-4
              small - 최소 몇 시간 전까지 예약을 받길 원하시나요?
            p
              small - 가장 기본적인 시간은 36시간 입니다.
          hr.my-4
          .form-row
            .col-10
              a.btn.btn-outline-secondary(href='/partners/products') 취소하기
            .col-2
              button(type="submit" class="btn btn-outline-primary") 저장후 다음으로


  
  script.
    function setCity() {
      var val = $('#selectContry').val()
      if(val =='KR'){
        $('#selectCity').empty();
        $('#selectCity').append(`<option value='seoul'>서울</option>`);
        $('#selectCity').append(`<option value='jeju'>제주도</option>`);
      }
      else{
        $('#selectCity').empty();
        $('#selectCity').append(`<option value='newyork'>뉴욕</option>`);
        $('#selectCity').append(`<option value='sanfrancisco'>샌프란시스코</option>`);
      }
    }
