extends ../layout

block content
  .container 
    a(href="/partners") HOME 
    a(href="/partners/products") / 상품 관리 
    span / 가이드 투어 등록

    #partnerMain.container 
      div.header
        h5 가이드 투어 등록하기
      div
        form
          .form-row
            p 나라/도시 *
            .col-5
              select.form-control(id="selectContry")
                option(selected) 나라
                option 대한민국
                option 미국
            .col-5
              select.form-control(id="selectCity")
                option(selected) 도시
                option ...
          hr.my-4
          div
            p 카테고리 *
            .jumbotron 
              p * 아래의 카테고리 중 1개만 선택이 가능합니다.
              p * 상품을 가장 잘 표현하는 카테고리를 선택해주세요.
              p * 상품의 상격과 맞지 않는 카테고리는 수정될 수 있습니다.
            .custom-control.custom-radio.my-4
              input(type="radio" id="customRadio1" name="customRadio" class="custom-control-input")
              label(class="custom-control-label" for="customRadio1") 가이드 투어
            .custom-control.custom-radio.my-4
              input(type="radio" id="customRadio2" name="customRadio" class="custom-control-input")
              label(class="custom-control-label" for="customRadio2") 액티비티
            .custom-control.custom-radio.my-4
              input(type="radio" id="customRadio3" name="customRadio" class="custom-control-input")
              label(class="custom-control-label" for="customRadio3") 스냅촬영
            .custom-control.custom-radio.my-4
              input(type="radio" id="customRadio4" name="customRadio" class="custom-control-input")
              label(class="custom-control-label" for="customRadio4") 레스토랑
            p * 가이드가 동행하며 현지 안내를 하는 비중이 높을 경우 가이드 투어를 선택해주세요.
          hr.my-4
          div 
            p 언어 *
            .form-row
              .custom-control.custom-checkbox(style="margin-left:9px; margin-right: 50px")
                input(type="checkbox" class="custom-control-input" id="customCheck1")
                label(class="custom-control-label" for="customCheck1") 한국어
              .custom-control.custom-checkbox(style="margin-right: 50px")
                input(type="checkbox" class="custom-control-input" id="customCheck2")
                label(class="custom-control-label" for="customCheck2") 영어
              .custom-control.custom-checkbox(style="margin-right: 50px")
                input(type="checkbox" class="custom-control-input" id="customCheck3")
                label(class="custom-control-label" for="customCheck3") 프랑스어
              .custom-control.custom-checkbox(style="margin-right: 50px")
                input(type="checkbox" class="custom-control-input" id="customCheck4")
                label(class="custom-control-label" for="customCheck4") 일본어
            p * 투어 진행 시 주로 사용되는 언어를 선택해주세요.
          hr.my-4
          div 
            p 여행 제목 *
            input(type="email" class="form-control" id="exampleFormControlInput1" 
              placeholder="[투어] 상암동(DMC) 방송국 투어 :: 대한민국/서울")
            p.mt-4
              small - 여행 주제를 정확하고 간결하게 표현해주세요.
            p
              small - 맞춤법이 맞지 않거나 이모티콘 혹은 특수문자를 사용하실 경우 상품 검수 절차로 인해 판매가 늦어질 수 있습니다.
            p
              small - 지역명이 포함된 제목은 상품 노출에 더 효과적입니다. (도쿄, 산책하는 여행 / 샌프란시스코! 요세미티 당일치기 등)

          div.mt-5
            p 한 줄 요약 *
            input(type="email" class="form-control" id="exampleFormControlInput1" 
              placeholder="상암에서 국내 유명 방송국을 가이드의 설명과 함께 구경해봅시다!")
            p.mt-4
              small - 제목과 연결되는 매력 포인트를 작성해주세요.
            p
              small - 페이지에서 강조되어 나타납니다.

          div.mt-5
            p 여행 소개 *
            textarea(class="form-control" id="exampleFormControlTextarea1" rows="10")
            p.mt-4
              small - 맞춤법이 맞지 않거나 이모티콘 혹은 특수문자를 사용하실 경우 상품 검수 절차로 인해 판매가 늦어질 수 있습니다.
          hr.my-4
          .form-row
            .col-6
              p 여행 규모 *
              select.form-control(id="selectScale")
                option(selected) 단독 프라이빗 투어
                option 그룹 투어
            .col-6
              p 이동 수단 *
              select.form-control(id="selectVehicle")
                option(selected) 도보 이동
                option 차량 이동
                option 그 외
          div.mt-5
            p 여행 사진 *
            input(type="file" class="form-control-file" id="exampleFormControlFile1")

          

            

            

