body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbar-nav {
  margin-top: 20px;
  border-bottom: 1px solid #dee2e6;
}

#navbar-nav nav li a{
  color: #373a3c !important;
}

#nav-link {
  display: inline-block;
}

#main-container {
  margin-top: 60px;
}

#main-container h1 {
  color: #343a40;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -.4px;
  text-align: left;
}

#signin-col {
  border: 1px solid #dee2e6;
  text-align: center;
  padding: 50px;
}

#signin-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

#signin-col div {
  margin: 10px;
}
