body .main {
  padding: 0px 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbar-nav {
  margin-top: 20px;
  border-bottom: 1px solid #dee2e6;
}

#navbar-nav nav li a{
  color: #373a3c !important;
}

#nav-link {
  display: inline-block;
}

#main-container {
  margin-top: 60px;
}

#main-container h1 {
  color: #343a40;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -.4px;
  text-align: left;
}

#signin-col {
  border: 1px solid #dee2e6;
  text-align: center;
  padding: 50px;
}

#signin-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

#signin-col div {
  margin: 10px;
}

#email-sign-col {
  border: 1px solid #dee2e6;
  padding: 50px;
  font-size: smaller;
}

#check-box {
  border: 1px solid #dee2e6;
  margin-top: 40px;
  margin-bottom: 10px;
}

#check-box .custom-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

#label-signup {
  font-size: x-small;
}

#email-signin-check {
  margin-top: 10px;
  margin-bottom: 20px;
}

#yet {
  padding-top: 20px;
}

.col-md-2 {
  min-height: 657px;
}

.col-md-9 {
  background-color: #dee2e6;
}