header
  nav.navbar.sticky-top.navbar-expand-lg.navbar-light(style="background-color: #ffffff; margin-top: 10px;")
    a.navbar-brand(href="/partners") myfaketrip 파트너
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
        
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item 
          a.btn.btn-outline-primary(href='/') 여행자 모드
