extends ../layout

block content
  #signin-container.container 
    .row 
      .col
      #email-sign-col.col 
        form(action='/users/verifications/all', method='POST') 
          .form-group 
            label(for="email") 이메일 *
            input.form-control(placeholder="ID@example.com")
          .form-group 
            label(for="password") 비밀번호 *
            input.form-control(placeholder="영문, 숫자, 특수문자 2가지 조합 6~15자")
          div(id="email-signin-check")
            .custom-control.custom-checkbox
              input(type="checkbox" class="custom-control-input" id="customCheck1")
              label.custom-control-label(for="customCheck1") 로그인 상태 유지
          button.btn.btn-primary.btn-lg.btn-block(type="submit") 이메일로 로그인
          div(id="yet")
            p 아직 회원이 아니신가요?
            a(href="/users/sign_up") 회원가입
      .col