extends ../layout

block content
  #signin-container.container 
    .row 
      .col
      #signin-col.col-6 
        div
          h1 반갑습니다! 
          p 여행의 모든 것, 마이페이크트립
          div
            button.button.btn.btn-outline-warning.btn-lg 카카오톡 바로 시작
          .container-sm
            .row 
              .col 
                p 페이스북
              .col
                p 네이버
              .col 
                a(href="/users/email_sign_up") 이메일
          div 
            p 이미 아이디가 있으신가요?
            a(href="/users/sign_in") 로그인
      .col